@media (max-width: 546px) {
   body{
      margin: 0px;
   }
   .headerContainer {
      display: block;
   }

   .header {
      text-align: center;
   }

   .Links {
      display: none;
   }

   .Description {
      width: 80%;
   }
   .Description h1{
      width: 90%;
   }


   .titleDescription {
      width: 25rem;
   }

   .cardContainer {
      flex-direction: column;
   }

   .aboutCardBody {
      width: 100%;
   }

   .card {
      width: 30rem;

   }

   .card img {
      height: 320px;
      width: 100%;
   }
   .projectCard
   {
      margin: 0px;
      margin-bottom: 20px;
      margin-left: 10px;
   }
}